.container-box {
  border: 1px solid red
}


.container-header-content {
  display: flex;
  gap: 0.5em;
  justify-content: flex-start;
  align-items: center;
}

.container-header-content h2 {
  padding: 0px;
  margin: 0px;
}

.container-header-line {
  background-color: black;
  border-radius: 2px;
  width: 72px;
  height: 4px;
  margin-top: 0.125em;
  margin-bottom: 1em;
}

.vite {
  border: 1px solid black;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}